body {
    background-image: url('https://i.pinimg.com/control1/736x/eb/e7/a8/ebe7a88a4cad359814aa3a36b55b5ba3.jpg');
    background-size: cover;
}
nav {
    background-color: rgb(13, 13, 53);
    color:aqua;
}

